################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/TeamExplorerExtension/obj/Debug
/TeamExplorerExtension/bin/Debug
